header {
    width: 100%;
    height: 80px;
}
#toggle {
    position: absolute;
    top: 28px;
    left: 24px;
    width: 24px;
}
#toggle:hover {
    cursor: pointer;
}
#toggle .bar {
    width: 24px;
    height: 3px;
    background: #00fcfc;
}
.bar.bar2 {
    margin: 5px 0;
}
.bar1.active {
    animation: opaque 0.3s linear forwards;
}
.bar2.active {
    animation: bar2-slide 0.3s linear forwards;
}
.bar3.active {
    animation: bar3-slide 0.3s linear forwards;
}
.bar1.stop {
    animation: unopaque 0.3s linear forwards;
}
.bar2.stop {
    animation: bar2-slide-back 0.3s linear forwards;
}
.bar3.stop {
    animation: bar3-slide-back 0.3s linear forwards;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    list-style: none;
    margin-left: 48px;
    margin-top: 4px;
}
.nav-item a {
    color: #00fcfc;
    text-decoration: none;
}
.nav-item button {
    background: #232323;
    border: 1px solid #000;
    box-shadow: 0 0 5px #000;
    padding: 8px;
    font-size: 20px;
    border-radius: 4px;
}
.nav-item {
    margin-left: 24px;
    margin-top: 14px;
    z-index: -9;
    opacity: 0;
}
.index0.stop {
    opacity: 1;
    z-index: 12;
    animation: index-opaque 0.3s linear forwards;
    animation-delay: 0.6s;
}
.index1.stop {
    opacity: 1;
    z-index: 12;
    animation: index-opaque 0.3s linear forwards;
    animation-delay: 0.4s;
}
.index2.stop {
    opacity: 1;
    z-index: 12;
    animation: index-opaque 0.3s linear forwards;
    animation-delay: 0.2s;
}
.index3.stop {
    opacity: 1;
    z-index: 12;
    animation: index-opaque 0.3s linear forwards;
    animation-delay: 0.0s;
}
.index0.active{
    opacity: 0;
    z-index: -9;
    animation: index-unopaque 0.3s linear forwards;
    animation-delay: 0.0s;
}
.index1.active{
    opacity: 0;
    z-index: -9;
    animation: index-unopaque 0.3s linear forwards;
    animation-delay: 0.2s;
}
.index2.active{
    opacity: 0;
    z-index: -9;
    animation: index-unopaque 0.3s linear forwards;
    animation-delay: 0.4s;
}
.index3.active{
    opacity: 0;
    z-index: -9;
    animation: index-unopaque 0.3s linear forwards;
    animation-delay: 0.6s;
}



/*animations*/
@keyframes index-opaque {
    from {
        opacity: 1;
        z-index: 12;
    }
    to {
        opacity: 0;
        z-index: -9;
    }
}
@keyframes index-unopaque {
    from {
        opacity: 0;
        z-index: -9;
    }
    to {
        opacity: 1;
        z-index: 12;
    }
}
@keyframes opaque {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes unopaque {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bar2-slide {
    from {
        transform: rotate(0deg) translateY(0px);
    }
    to {
        transform: rotate(45deg) translateY(5px);
    }
}
@keyframes bar2-slide-back {
    from {
        transform: rotate(45deg) translateY(5px);
    }
    to {
        transform: rotate(0deg) translateY(0px);
    }
}
@keyframes bar3-slide {
    from {
        transform: rotate(0deg) translateY(0px);
    }
    to {
        transform: rotate(-45deg) translateY(-5px);
    }
}
@keyframes bar3-slide-back {
    from {
        transform: rotate(-45deg) translateY(-5px);
    }
    to {
        transform: rotate(0deg) translateY(0px);
    }
}