<div class="container">
    <div *ngIf="message.content.length > 0" class="alert {{message.type}}">
        <strong>{{message.content}}</strong>
    </div>
    <form (submit)="saveTask()" *ngIf="saving == false">
        <div class="form-grup">
            <label for="title">Título:</label>
            <input type="text" name="title" [(ngModel)]="task.title" placeholder="Ej: Recoger las patatas del vecino" required>
        </div>
        <div class="form-grup">
            <label for="description">Descripcion: </label>
            <textarea name="description" [(ngModel)]="task.description" placeholder="Ej: Debo ir a recoger patatas el miercoles por la tarde" required></textarea>
        </div>
        <div class="form-grup">
            <label for="objectives">Objetivos (separados por comas):</label>
            <textarea type="text" name="objectives" [(ngModel)]="task.objectives" placeholder="EJ: cortar suave, no maltratar plantas, etc..." required></textarea>
        </div>
        <div class="form-grup">
            <label for="category">Categoría:</label>
            <select name="category" [(ngModel)]="task.category" required>
                <option value="normal">Normal</option>
                <option value="escolar">Escolar</option>
                <option value="unique">Única</option>
                <option value="special">Especial</option>
                <option value="important">Importante</option>
                <option value="urgent">Urgente</option>
            </select>
        </div>
        <div class="form-group">
            <label for="date">Fecha de finalización</label>
            <input type="date" name="endAt" [(ngModel)]="task.endAt" id="date" required>
        </div>
        <div class="form-group">
            <button type="submit" class="submit">Guardar Tarea</button>
        </div>
    </form>
</div>