<div class="container">
    <h1>Qué es <b>Jesse's Tasks</b>?</h1>
    <p class="paragraph">
        En nuestro día a día existen inúmeras tareas que debemos realizar de manera contínua, y pese a nuestro cerebro 
        tener 100TB (terabytes) de información a almacenar, muchas de esas tareas acaban siendo olvidadas y posteriormente generando 
        una consecuencia bien sea leve o grave.
    </p><br>
    <p class="paragraph">
        Sin embargo hay métodos que hemos adoptado para no olvidarnos de realizarlas, algunos efectivos, otros no tan efectivos. 
        La tecnología es una herramienta usada en general, desde formas de cosecha moderna hasta robots que sustituyen nuestros puestos, 
        pero de alguna forma la tecnologia también nos desconcentra en cierto punto, ya que si adquirimos una agenda para colocar nuestras anotaciones, 
        eventualmente la olvidaremos al usar los aparatos tecnológicos modernos como: TV, teléfono celular, PC o laptop.
    </p><br>
    <p class="paragraph">
        Y ya que dichos dispositivos nos desconectan de lo que sucede en el momento. Por qué no usarlos para que sean ellos los que hagan 
        la misma tarea que haría una agenda?
    </p><br>
    <p class="paragraph">
        Los Teléfonos celulares, PCs y laptop tienen agendas integradas pero solo hacen lo mismo: "tomar un dato y grabarlo", pero. Te recuerdan que debes 
        hacer algo con ese dato?
    </p><br>
    <p class="paragraph">
        Para eso ha llegado <b>Jesse's Tasks</b>! para recordarte que tienes tareas que realizar ya asi no olvides las cosas importantes y eventualmente tener 
        consecuencias que puedan influir de manera negativa en lo que haces y en tu vida cotidiana.
    </p><br>
    <p class="paragraph">
        <b>Jesse's Tasks</b> es una PWA(Progressive Web Application | Aplicación Web Progresiva) que tiene dicha finalidad 
        y objetivo, tomamos unos cuantos datos para recordarte que tienes cosas por hacer, te enviamos notificaciones reiteradas(constantemente) para que no simplemente 
        elimines la notificación del mostrador y listo, sino que puedas mantenerte al día con todo lo que tienes que hacer.
    </p><br>
    <p class="paragraph">
        La aplicación cuenta con 6 tipos de categorías y con íconos diferentes, lo que la hará muy intuitiva  y te orientará 
        perfectamente en lo que debes hacer.
    </p><br>
    <ul>
        <li><strong>Categorías:</strong></li>
        <li><img src="assets/urgent.svg" alt="urgent"> Urgente</li>
        <li><img src="assets/important.svg" alt="important"> Impotante</li>
        <li><img src="assets/special.svg" alt="special"> Especial</li>
        <li><img src="assets/unique.svg" alt="unique"> Única</li>
        <li><img src="assets/escolar.svg" alt="escolar"> Escolar</li>
        <li><img src="assets/normal.svg" alt="normal"> Normal</li>
    </ul><br>
    <p class="paragraph">
        También hay 4 estados de tarea, para saber si enviarte notificaciones de dicha tarea o no:
    </p><br>
    <ul>
        <li><img src="assets/play-fill.svg" alt="play"> Tarea no iniciada</li>
        <li><img src="assets/arrow-repeat.svg" alt="repeat"> Tarea en curso</li>
        <li><img src="assets/check.svg" alt="check"> Tarea completada</li>
        <li><img src="assets/error.svg" alt="error"> Tarea no realizada</li>
    </ul><br>
    <p class="paragraph">
        Existe un sistema de completación por objetivos, y los datos de las tareas son completamente dinámicos 
        haciendo que puedas editarlas en cualquier momento.
    </p><br>
    <p class="paragraph">
        (Proximamente): <br>
        Una sección de análisis de tareas donde mostrará un resumen de las tareas en curso, tareas realizadas y tareas no realizadas.
    </p>
    <br><br>
    <h2>Qué esperas?</h2>
    <a routerLink="/register" style="color: #00fcfc;"><strong>Regístrate</strong></a> <span>o</span>
    <a routerLink="/login" style="color: #00fcfc;"><strong>Inicia sesión</strong></a>
</div>